<html>
    <head>
        <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.9.0/js/md5.min.js"></script>
        <script type="text/javascript">
        function getMD5(){
            let t=document.getElementById('instr').value;
            var md5sum="";
            if (!t){
                alert("input something!")
            }else{
                var md5sum=md5(t);
                //alert(t);
                //alert(md5sum);
                }
                return md5sum;
            }
        function checkpsw(){
            var pswd="6aa963b7d282544aa3ae579a4b07fbd4";
            var m=getMD5();
            if(m==pswd){
                //alert("succeed");
                window.open("index");
            }else{
                alert("wrong!");
                }
                    }
        </script>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Password</h1>
        <input id="instr" type="password" onkeypress="if(event.keyCode==13){checkpsw()}"></input>
        <button type="button" onmousedown="document.getElementById('instr').type='input'" onclick="document.getElementById('instr').type='password'">show psw</button>
        <button type="button" onclick="checkpsw()">summit</button>
    </body>
</html>

